<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="animation"></div>
    <button id="startRecording">Start Recording</button>
    <button id="stopRecording">Stop Recording</button>
    <div id="responseText"></div>
    <script src="script.js"></script>
</body>
<div id="statusWindow"></div>
<audio id="responseAudio" preload="auto"></audio>

</html>
